<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>main page</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. In possimus hic
      velit labore similique perferendis, laboriosam fugiat minima praesentium
      porro voluptates neque rem, veritatis aliquam unde placeat natus! Ipsam,
      consequatur?
    </p>
  </body>
</html>
